:root{
    --main-color:#F2ECE6;
    --text-color:#3E1200;
    --sub-text-color:#7C5341;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family:  'Noto Sans KR', sans-serif;
    text-align: center;
    background-color: var(--main-color);
    max-width: 425px;
    min-width: 390px;
    margin: 0 auto;
    background-image: url(./images/pngwing.com.png);
    background-size:500px;
    animation: bg 100s linear ;
}
@keyframes bg {
    0%{
        background-position: 0 0;
    }
    20%{
        background-position: 10px 200px;
    }
    40%{
        background-position: 200px 400px;
    }
    60%{
        background-position: 300px 600px;
    }
    80%{
        background-position: 400px 800px;
    }
    100%{
        background-position: 500px 1000px;
    }
}
section{
    height: 812px;
}
#title{
    height: 100vh;
}
.title-group h1{
    font-size: 28px;
    font-family: 'Yeon Sung', cursive;    
    font-weight: 400;
    color: #3E1200;
    margin-bottom: 10px;
    margin-top: 55px;
}
.title-group h1>span{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.title-group h3{
    color: #7C5341;
    font-size: 14px;
    margin-bottom: 60px;
    font-family: 'Yeon Sung', cursive;    

}
#title .title-photo{
    height: 100vh;
}
#title .title-photo img{
    width: 100%;
    height: 574px;
    object-fit: cover;
}
section .bar{
    margin: 0 auto;
    margin-bottom: 20px;
}
.bar img{
    width: 100px;
}
#invitation{
    color: var(--text-color);
    height: 650px;
}
#invitation p{
    margin-bottom: 2em;
    letter-spacing: 1.5px;
    font-size: 14px;
}
#invitation .report{
    margin-top: 60px;
    margin-bottom: 60px;
}
#invitation .report h1{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
#invitation .report h1 span{
    color: var(--sub-text-color);
    font-size: 14px;
    margin-left: 5px;
    margin-right: 15px;
}
.swiper {
    width: 100%;
}
.swiper img{
    width: 100%;
    height: 750px;
    padding: 10px;
}
.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    border-radius: 20;
    background-color: #D9B591;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #795530;
    opacity: 1;
}
.swiper-pagination{
    bottom: 50px !important;
}

#location{
    margin: 0 auto;
    text-align: center;
}
.location-icon{
    margin-top: 50px;
    margin-bottom: 20px;
}
.location-place{
    color: var(--text-color);
    margin-bottom: 15px;
}
#location .map iframe{
    width: 100%;
    margin-bottom: 20px;
}
.Transportation{
    text-align: left;
    padding: 10px;
}
.Transportation h3{
    font-size: 16px;
    font-weight: 500;
    color: #3E1200;
    margin-bottom: 5px;
    margin-top: 10px;
}
.Transportation p{
    color: #795530;
    margin-top: 5px;
    font-weight: 400;
}
#talk-to{
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
}
.please{
    width: 315px;
    height: 360px;
    background-color: #FAF3E2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.please h2{
    font-size: 20px;
    font-weight: 400;
    color: #3E1200;
    margin-top: 40px;
    margin-bottom: 25px;
}
.please .talk{
    padding-left: 25px;
    padding-right: 25px;
}
.talk p{
    font-size: 14px;
    color: #333;
    margin-bottom: 3em;
    line-height: 25px;
    letter-spacing: 3%;
}
#congrat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 600px;
}
#congrat h2{
    font-family: 'Yeon Sung', cursive;
    color: #3E1200;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 24px;
}
.numder{
    margin-bottom: 50px;
}
.account-number{
    width: 250px;
    height: 35px;
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(250, 225, 214, 0.6);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.account-number.num1{
    margin-right: 50px;
}
.account-number img{
    width: 20px;
    height: 20px;
    margin-left: 80px;
}
.account-number-1,
.account-number-2{
    width: 250px;
    height: 67px;
    background-color: #F2ECE6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 80px;
    top: 5px;
    display: none;
}
.account-number-1.on{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.account-number-2.on{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.contact-box-wrap{
    display: flex;
}
.contact-box p{
    font-size: 18px;
    color: #333;
}
.contact-box span{
    font-size: 14px;
    margin-right: 5px;
}
.contact-box-wrap>.contact-box{
    margin-right: 50px;
    margin-left: 50px;
}
.icon-box{
    margin-top: 15px;
}
.icon-box img{
    padding: 5px;
}
.family>h4{
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-bottom: 50px;
}
.family-man{
    text-align: center;
    width: 150px;
    margin-left: 40px;
}
.family-man>span{
    font-size: 12px;
}
.family-man .contact-box>img{
    margin-bottom: 20px;
    margin-top: 10px;
}
.family-man .contact-box{
    margin-top: 20px;
}


.family-woman{
    position: relative;
    text-align: center;
    width: 150px;
    top: -270px;
    left: 200px;
}
.family-woman>span{
    font-size: 12px;
}
.family-woman .contact-box>img{
    margin-bottom: 20px;
    margin-top: 10px;
}
.family-woman .contact-box{
    margin-top: 20px;
}